<div class="col mb-4">
  <div class="card">
    <div class="card-header">
      {{ campaign.name }}
      <button type="button" class="btn btn-sm btn-danger float-right ml-1">
        <fa name="trash"></fa>
      </button>
      <button type="button" class="btn btn-sm btn-warning float-right" [routerLink]="['/campaigns/edit', campaign.id]">
        <fa name="pencil"></fa>
      </button>
</div>
    <div class="card-body">
      <div>
        <span>Keywords:</span>
        <span class="badge badge-info ml-1"
              *ngFor="let keyword of campaign.keywords">{{ keyword }}</span>
      </div>
      <div>
        <span>Bid amount: </span><span>{{campaign.bidAmount | currency:'EUR' }}</span>
      </div>
      <div>
        <span>Fund: </span><span>{{campaign.fund | currency:'EUR' }}</span>
      </div>
      <div>
        <span>Status:</span>
        <span [ngClass]="{'badge ml-1' : true,
                          'badge-success' : campaign.status,
                          'badge-danger' : !campaign.status }">{{ campaign.status ? 'ON' : 'OFF' }}</span>
      </div>
      <div>
        <span>Town: </span><span>{{ campaign.town }}</span>
      </div>
      <div>
        <span>Radius: </span><span>{{ campaign.radius }}</span>km
      </div>
    </div>
  </div>
</div>
